@import url("globals.css");
body {
  margin: 0 auto;
  background-color: var(--color-background);
  font-family: var(--font-text);
  color: white;
}
header {
  height: fit-content;
  background-color: var(--color-surface);
  color: white;
  padding: 10px;

  display: flex;
  justify-content: space-between;
  gap:10px;
 
  position: sticky;
  top: 0%;
}

.logo {
  width: 50px;
  height: 50px;
}
nav{
  width:fit-content;
  display:flex;
  align-items:center;
  padding-right:10px;
}
.nav-list{
  all:unset;
  width: fit-content;
  display:flex;
  flex-direction:row;
  justify-content:flex-start;
  align-items:center;
  gap: 25px;
  row-gap: 5px;
}
.nav-list > li {
  all:unset;
}
.nav-list > li > a {
  text-decoration: none;
  color: white;
}
.menu-button-container {
  width: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.menu-button-container > span {
  width: 100%;
  padding: 2px;
  border-radius: 5px;
  background-color: white;
}
/*Estilos del main*/
main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}
@media (max-width: 375px){
  .nav-list {
    display: none;
  }
  .menu-button-container {
    display: flex;
  }
}
@media (min-width: 376px) and (max-width: 480px){
  .nav-list{
    display:flex;
    flex-wrap:wrap;
  }
  .menu-button-container {
    display: none;
  }
  header {
    position:relative;
  }
}
@media (min-width: 481px) and (max-width: 1440px){
  header {
    position:relative;
  }
  .nav-list {
    display: flex;
    flex-wrap:nowrap;
  }
  .menu-button-container {
    display: none;
  }
}
