body {
  color: white;
  padding: 10px;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: red;
  flex-wrap: wrap;
}

.logo {
  width: 48px;
  justify-self: flex-start;
  align-self: flex-start;
  margin: 10px;
}
.titulo {
  justify-self: center;
}
.wrapper .links {
  align-items: center;
  width: 100%;
}

li {
  list-style: none;
  display: inline;
}
a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.profile {
  width: 48px;
  align-self: flex-start;
  margin: 10px;
}
