img {
  width: 240px;
}
.PageLogo {
  width: 125px;
}
nav {
  display: flex;
  justify-content: space-between;
  font: 16px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
nav > ul {
  list-style: none;
  padding: 0;
}
nav > ul > li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}
.novedades,
.experiencias,
.nuestras-marcas {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.UserIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

footer {
  background-color: black;
  color: white;
}
.footer-icon {
  width: 32px;
  height: 32px;
}
.banner {
  background-color: #666;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 12px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-maker-group: none;
  scrollbar-width: none;
}

.banner > .banner-item {
  background-color: #f9e722;
  width: 80vw;

  border-radius: 8px;
  scroll-snap-align: center;
}
.banner-item::scroll-maker {
  content: " ";
  display: inline;
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
}
