body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.container {
  width: 60%;
  height: 488px;
  margin: 0 auto;
  margin-top: 30px;
  border: 2px solid red;

  display: flex;
  flex-wrap: wrap;
  /* main axis */
  justify-content: space-between;
  /*cross axis*/

  /*tarea englobar los numeros con divs */
  flex-direction: column; /*cambia el sentido del axis (90 degrees)*/
}
.wrapper {
  height: 150px;
  border: 2px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
  /*
  center end start strech and baseline
  */
  align-items: center;
}

.contained {
  width: 50px;
  border: 1px solid blue;
  background-color: grey;
  border-color: #333;
  color: #f0f0f0;
}
