body {
  margin: 0 auto;
  background-color: rgb(238, 238, 238);
}
main {
  background-color: inherit;
}
img {
  width: 240px;
}
ul {
  list-style: none;
}
article {
  display: inline;
}
.PageLogo {
  width: 125px;
  padding: 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  font: 16px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}
nav > ul {
  list-style: none;
  padding-left: 10px;
  padding-right: 10px;
  align-self: center;
}
nav > ul > li {
  display: inline;
  margin-right: 20px;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}
.UserIcon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  padding: 10px;
}
.section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 85vw;
}
.news {
  align-items: center;
  margin: 0 auto;
  width: 85vw;
}
section > h2 {
  text-align: center;
}

.news-articles {
  display: flex;
  justify-content: space-around;
  width: 85vw;
}
.news-articles > article {
  width: 40vw;
  margin: 10px;
}
.news-articles > article > img {
  width: 40vw;
  border-radius: 8px;
}

.news-article-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.news-article-content > a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  align-self: flex-start;
  justify-self: flex-start;
}

.our-brands {
  width: 85vw;
}
.our-brands > a {
  text-align: center;
  display: block;
  width: 100%;
}
.brands-logos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 85vw;
}
.brands-logos > div > img {
  width: 14vw;

  margin: 10px;
}
.brands-logos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10%;
  background-color: white;
  width: 17vw;
  height: 17vw;
  margin: 10px;
}
.brands-logos-wrapper:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.exp-cards {
  display: flex;
  width: 85vw;
  height: 100vh;
  justify-content: flex-end;
  align-items: flex-end;
}
.exp-text-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  padding: 10px;
  width: 40vw;
  height: 35vw;
  border-radius: 8px;
  background-color: white;
  margin: 10px;

  position: relative;
  left: 10%;
  top: -5%;
}
.exp-img-card {
  width: 45vw;
  height: 35vw;
  border-radius: 8px;
  background-color: white;
  margin: 10px;
}
.exp-text-card > a {
  align-self: center;
  justify-self: flex-center;
}
.exp-img-card > img {
  width: 45vw;
  height: 35vw;
  border-radius: 8px;
  background-color: white;
}

footer {
  background-color: black;
  color: white;
  padding: 5vw;
  display: flex;
  justify-content: center;
}

.footer-content {
  width: 85vw;
}
.footer-first-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.footer-ubication {
  text-decoration: none;
  color: white;
  font-weight: bold;
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;

  display: flex;
  align-items: center;
}
.ubication-name {
  font-size: 20px;
  font-weight: bold;
  color: white;
  align-self: center;
}
.footer-icon {
  width: 32px;
  height: 32px;
  align-self: center;
}
.footer-icons {
  height: 75%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  align-self: center;
  gap: 10px;
}
.links {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
}

.recite-me {
  grid-column: 4/5;
  grid-row: 4/5;
}
.sobre-nosotros {
  grid-column: 1/2;
  grid-row: 1/2;
}
.ayuda {
  grid-column: 2/3;
  grid-row: 1/2;
}
.legal {
  grid-column: 3/4;
  grid-row: 1/2;
}
.footer-icons {
  grid-column: 5/6;
  grid-row: 1/2;
}

.footer-copyright {
  text-align: right;
}
.banner {
  background-color: #666;
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding: 12px;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  /* scroll-maker-group: none; */
  scrollbar-width: none;
}
.section-servicios {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 75vw;
}

section,
article,
div {
  border: 1px solid red;
}
.banner > .banner-item {
  width: 80vw;

  border-radius: 8px;
  scroll-snap-align: center;
}
.banner-item::scroll-maker {
  content: " ";
  display: inline;
  width: 10px;
  height: 10px;
  background-color: #999;
  border-radius: 50%;
}
