:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #6d28d9;
  --color-primary-light: #8b5cf6;
  --color-secondary: #10b982;
  --color-accent: #f59e0b;
  --color-background: #121212;
  --color-surface: #1e1e1e;
  --color-surface-2: #2d2d2d;
  --font-text: "inter"; /*bold for titles, regular for text, medium for htext*/
}

@media (min-width: 375px) {
}
@media (min-width: 375px) and (max-width: 1440px) {
  header,
  footer {
    margin: 10px;
    border-radius: 10px;
  }
}
