body {
  background-color: #d1dff6;
}
.my-button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.my-button:hover {
  background-color: #45a049;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.my-button:active {
  background-color: #3e8e41;
  transform: translateY(4px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.1s ease-in-out;
  transform: scale(0.95);
}
